In [9]:
import yfinance as yf
import pandas as pd

In [23]:
x = yf.Ticker("TATAMOTORS.NS")
data = x.history(start="1998-10-23").reset_index().drop(columns=["Dividends", "Stock Splits"])

In [24]:
data.shape

(6278, 6)

In [25]:
data.head()

,Date,Open,High,Low,Close,Volume
0,1998-10-23 00:00:00+05:30,14.615395,15.427776,14.317274,15.129654,17665237
1,1998-10-26 00:00:00+05:30,15.278712,16.344496,15.278712,16.187983,11531300
2,1998-10-27 00:00:00+05:30,16.314686,17.484813,15.696084,17.112160,21477780
3,1998-10-28 00:00:00+05:30,16.918385,17.693501,16.322142,16.456297,18610023
4,1998-10-29 00:00:00+05:30,16.351948,17.104705,15.964392,16.873661,15478216

In [4]:
data.to_csv("Data.csv", index=False)